.edit-profiles-page-modal {
    .notice {
        margin-left: 0;
        margin-right: 0;
    }

    .profile-nids {
        width: 100%;
    }
}

.wsuwp-profiles-page__color--success {
    color: #00a32a;
}

.wsuwp-profiles-page__color--failure {
    color: #d63638;
}
