#university-org-create-form {
    max-width: 25rem;
    background: white;
    padding: 1px 1.5em 0 1.5em;
    margin-top: 1.5rem;
    display: none;
}

#profile-nids {
    max-width: 25rem;
    display: block;
}

.wsu-unpublish-profiles__container {
    margin-top: 0.5em;
}

.wsu-import-submit__container {
    display: inline-block;
}

.wsuwp-people-directory-settings-page__existing-profiles {
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
    padding: 2px 6px;
    border-radius: 4px;
}
