#university-org-create-form {
    max-width: 25rem;
    background: white;
    padding: 1px 1.5em 0 1.5em;
    margin-top: 1.5rem;
    display: none;
}

#profile-nids {
    max-width: 25rem;
    display: block;
}
